{{- range $region := split (getv "/aws/regions" "ap-northeast-1") "," -}}
.{{$region}}.amazonaws.com
.s3-{{$region}}.amazonaws.com
{{ end -}}
.s3.amazonaws.com
iam.amazonaws.com
sts.amazonaws.com
support.ap-northeast-1.amazonaws.com
waf.amazonaws.com
cloudfront.amazonaws.com
route53.amazonaws.com
route53domains.ap-northeast-1.amazonaws.com
devicefarm.ap-northeast-1.amazonaws.com
importexport.amazonaws.com
{{ with $whitelist := (getv "/squid/whitelist" "%") -}}
{{ if and (ne $whitelist "%") (ne $whitelist "") -}}
{{- range $entry := split $whitelist "," -}}
{{$entry}}
{{ end -}}
{{- end -}}
{{- end -}}
